@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

html {
    font-family: sans-serif;
}

body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* background:rgb(19, 7, 30);*/
    /* background: url(/img/calle-coche-luces-frenado.jpg);*/
    background-attachment: fixed;

    background-size: cover;
    background-position: center;
}

/* =================================   barra de menu ================================*/
.lineanegra {
    background: linear-gradient(black, rgb(0, 59, 82));
    width: 100%;
    height: 0px;
}



header {


    z-index: 1;
    /* menu en primera plana*/
    position: fixed;
    /*menu en posicion fija*/
    width: 100%;
    /*  en esta parte pone la barra de menu primera plana en header*/
    
}

header .contenedor .nav {
    margin-top: 15px;
    height: 45px;
    justify-content: space-between;
    width: 1905px;
    background: rgba(185, 185, 185, 0.682);
    

}




.nav a {
    margin-left: 20px;
    /*espacio entre cada hipervinculo*/
    margin-right: 20px;
    /*espacio entre cada hipervinculo*/
}


.nav-list2 li a {
    margin-right: 40px;
    /*esta parte para correr "iniciar seesion" a la izquierda*/

}

.nav {
    /*margin-top:  5px;             margen del menu
    margin-bottom: 3%;
    margin-right: 20%;*/
    height: 0%;
    padding: 0%;
    display: flex;

    /*align-items:start;*/
    background-color: rgba(15, 3, 66, 0.164);
    /*backdrop-filter: blur(70px)  ;*/
}

input {
    height: 25px;
    width: 250px;
    border-spacing: 80px;
    border-color: rgba(161, 161, 161, 0.945);
    border-radius: 40px;
}

.nav-lin {
    padding: 0px;
    text-decoration: none;
    border-radius: 10px;
    color: #000000;
}


header .contenedor .nav ul li {
    font-size: 20px;
    margin: 0%;
    padding: 0px;
    
}

.nav-list {
    display: flex;
    text-decoration: none;
    color: #000000;
    list-style: none;
    margin: 0%;
    padding: 0%;
    align-items: center;
    /*centrar la lista vertical del menu*/

}

.nav-list2 {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    text-align: initial;
    margin: 0%;
    padding: 0%
}




li {
    padding: 0%;
    text-decoration: none;
}

a {
    color: #000000;
    text-decoration: none;



}

ul {
    padding: 0%;
    margin: 0%;
    padding-left: 20px;
    padding-top: 0px;

}

li a:hover {
    color: rgb(255, 255, 255);
    /*background-color: rgba(15, 3, 66, 0.055);*/
}

ul li {
    text-decoration: none;
    list-style: none;
    /*quitar punto de la lista*/
}

@media (max-width: 768px) {
    .logot, .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }
}



.logot ul li a img {

    display: flex;
    z-index: 2;
    position: fixed;
    height: 83px;
    padding: 0%;
    margin: -1%;

}

.fo form {

    margin-left: 50px;
}




/*             aqui dar dimencion al cuerpo*/
.cuerpo {
    height: 50vh;

}





.footer-content {

    margin: 0%;
    padding: 0%;
}

footer {

    position: relative;

    width: 100%;
    height: 30%;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(70px);
    color: #fff;
    text-align: center;
    bottom: 0%;
}

.social-media {
    display: flex;

    align-items: center;



}


.footer-content h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.logft {

    margin: none;
}

.footer-content-about p {
    line-height: 2;
}

.footer-div img {
    margin: 10%;


    height: 200px;
}

.social-icons {
    list-style: none;
    margin-bottom: 0;
    width: 20vw;
    background-color: #000000;
}

.social-icons i {
    font-size: 20px;
    color: #ffffff;
    /*padding: 0rem 1rem;     /* espacios entre iconos de redes sociales */
    /*padding: 0px 10px 0px 10px ;*/

}

.social-icons i:hover,
.social-icons i:focus {
    color: rgb(202, 186, 0);
}

.social-icons {
    margin: 2%;
    align-items: flex-end;
    height: 45VH;


}

.social-icons li {
    padding: 5%;

}

.ulti {
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 15px;
}





@media screen and (min-width: 900px) {

    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }


    .nav-item {
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
        
    }

    .active {
        position: relative;
    }

    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }

    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info>div {
        flex: 1;
    }

    .pad-rig {
        padding-right: 7rem;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }


    /* en esata parte se correa a un lado.footer-div{
        display: flex;
        justify-content: space-between;
    }/*

    .social-media, .news-form {    /*aqui se coloca a un lado o al centro si se elimina
        width: 100%; 
        max-width: 27.3rem;
        margin: 0 1rem;
    }
    

   .news-btn {
       margin-left: 7.5rem;
   }*/

}


/* CARRUSEL */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 900px;
}

#myCarousel {
    position: relative;
    top: -50px;
    /* Ajusta este valor para mover el carrusel más arriba */
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -8rem;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;

}
.carousel-control-prev{
    background-color: #ff0000;
    color: #5a23c8;
}

.carousel-caption {
    bottom: -30rem;
    z-index: 10;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 60rem;
}


/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* rtl:end:ignore */


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
    letter-spacing: -.05rem;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}


#myCarousel.carousel {
    height: 700px;
    /* Ajusta esta altura según tus necesidades */
}