.container {
    position: relative;
    width: 500px;
}

.punto {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

#nombrePrenda {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(212, 28, 28, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: none;
}
